.CheckoutReview {
    text-align: center;
    width: 80%;
    margin: auto;
}

.CheckoutReview Button {
    font-size: 25px;
}


/* @media (min-width: 600px) {
    .CheckoutReview {
        width: 500px;
    }
} */