.Osoba {
    width: 30%;
    margin: auto;
    border: 1px lavenderblush solid;
    color: lavenderblush;
    box-shadow: 0 2px 3x lightslategray;
    padding: 20px;
    text-align: center;
    background-color:rgba(2, 32, 2, 0.719);
    margin-top: 8px;
    margin-bottom: 8px
  }
  
  @media (min-width: 600px){
    .Osoba {
      width: 520px
    }
  }