.Tortilla {
    width: 100%;
    margin: auto;
    height: 300px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.Tortilla p {
    text-align: center; 
}

.Tortilla span {
    background-color: rgb(175, 158, 127, 0.6);
    padding: 2px;
}

@media (max-width: 499px){
    .Tortilla {
        height: 250px;
    }
}