.Tortilla {
    width: 100%;
    margin: auto;
    height: 400px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

