.Auth {
    margin: 20px auto;
    margin-bottom: 100px;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    /* border: 4px solid #D1CEC9; */
    padding: 10px;
    box-sizing: border-box;
    /* background-color: rgb#F5DEB3; */
    background-color: rgb(175, 158, 127, 0.6);
}


@media (min-width: 600px){
    .Auth {
        width: 500px;
    }
}