body { background-color: rgba(0, 26, 0, 0.719) }

.App {
  text-align: center;
}

.style2 {
  background-color: 'goldenrod';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}

/* .zelena {
  color: green
}

.hruba {
  font-weight: bold
} */

.zelik {
  color: green
}

.hrubik {
 font-weight: bold
}

.velik {
  font-size: 24px
}















